{% extends 'base.html.twig' %}


{% block title %}Register
{% endblock %}
{% block monTitre %}Inscription client
{% endblock %}
{% block main2 %}
{% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
	{{ form(RegistrationClientType) }}
    
    
    
    {% endblock %}
