
{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}


{% block navbarlists %}
	<li>
		<a href="">Tableau de bord</a>
	</li>
	
	<li>
		<a href="">Ajouter une opération</a>
	</li>		
	<li>
        <a href="">Liste mes opérations</a>
	</li>
	

{% endblock %}

{% block main2 %}

	<div class="row">
	JE SUIS SENIOR
	</div>
{% endblock %}




