
{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}


{% block navbarlists %}
	<li>
		<a href="">Tableau de bord</a>
	</li>
	<li>
		<a href="">Ajouter une opération</a>
	</li>		
	<li>
        <a href="">Liste mes opérations</a>
	</li>
	<li>
        <a href="">Liste des employés</a>
	</li>
	<li>
        <a href="">Ajouter un employé</a>
	</li>
	<li>
        <a href="">Modifier un employé</a>
	</li>
	<li>
        <a href="">Ajouter commande client</a>
	</li>
	<li>
        <a href="">Chiffre d'affaire</a>
	</li>

{% endblock %}

{% block main2 %}

	<div class="row">
	JE SUIS BIEN DANS LE CONTROLLER EXPERT
	</div>
{% endblock %}

