body {
      width: 100%;
      height: 100vh;
  }
  .sidevarstatic {
      width: 100%;
      height: 100vh;
      background-color: #3D6A9E;
  }
  #main {
      background-color: #ecf4ec;
      height: 100vh;

  }
  #navbartop {
      background-color:#3D6A9E;
  }
  .logo {
      margin-top: 10%;
      margin-left: 25%;
  }
  .listLateral  {
      color: white;
      margin-top: 30%;
      margin-left: 10%;

  }
  .listLateral a {
      color: white;
      

  }
  