{% extends 'base.html.twig' %}

{% block title %}Hello SeniorController!{% endblock %}

{% block main2 %}
<div class="cadre403">
<div class="cadre2">
   <h3>ERREUR 403 </h3> 

   <p> VOUS N'AVEZ PAS LES DROITS !!</p>

 <button class='buttonValider' onclick="history.back()"  role="button">Retour</button>
   </div>
   </div>
{% endblock %}
