{% extends 'base.html.twig' %}


{% block title %}Register
{% endblock %}
{% block monTitre %}Inscription client
{% endblock %}
{% block navbarlists %}
	<li class='mt-4'>
		<a href="{{ path('app_apprenti') }}">Tableau de bord</a>
	</li>

	<li class='mt-4'>
		<a href="">Ajouter une opération</a>
	</li>
	<li class='mt-4'>
		<a href="">Liste mes opérations</a>
	</li>
	<li class='mt-4'>
		<a href="{{ path('app_prise_commande_apprenti') }}">Ajouter commande client</a>
	</li>

{% endblock %}
{% block main2 %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{message}}
		</div>
	{% endfor %}
	{{ form(RegistrationClientType) }}{% endblock %}
